
#container {
  border-radius: 8px;
  background-color: rgba(25, 148, 148, 0.699);
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
#agregar {
  margin-left: 10px;
}
#productos {
  margin-left: 10px;
  
}
